[submodule "prerequisites/even-cpp"]
	path = prerequisites/even-cpp
	url = https://github.com/evenfound/even-cpp.git
[submodule "prerequisites/QtWebApp"]
	path = prerequisites/QtWebApp
	url = git@github.com:samiavasil/QtWebApp.git
